$bgColor:rgba(255,255,255,1.0);
$textPrimaryColor: rgba(81, 32, 81, 1.0);
$textSecondaryColor: rgba(255, 255, 255, 1.0);
$textTertiaryColor: rgba(238,105,164, 1.0);
$headerPColor: rgba(146, 123, 145, 1.0);
$starColor: rgba(239, 149, 70, 1.0);
$ratingBgColor: rgba(247, 242, 247, 1.0);
